
h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-size: 1.25em;
	font-weight: bolder;
}

.bottom-line {
	padding-top: 20px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ddd;
}

.example {
	width: 240px;
	border: 1px solid #333;
	padding: 20px;
	text-align: center;
}

.example.active {
	background-color: #F33 !important;
	color: white;
}

.frame {
	height: 100px;
	display: inline-block;
	cursor: pointer;
}

.about-section {
	position:relative;
	margin-top: 30px;
	width: 400px;
}

.fade-in {
	opacity: 0;
}

.fade-in.active {
	opacity: 1;
}

.about {
	position: absolute;
}

.valign {
	display: inline-block;
	vertical-align: middle;
}

img {
	border: 4px double #aca;
	vertical-align: top;
	height: 100px;
	border-radius: 2px;
}

.frame-section.active > .frame > img {
	opacity: .3;
}

.frame-section.active > .frame.active > img {
	border-style: none;
	opacity: 1;
	border-style: solid;
}

.transition {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.transition.fast {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.example.yellow {
	background-color: yellow;
}

.example.green {
	background-color: green;
	color: white;
}

.example.blue {
	background-color: blue;
	color: white;
}

.example.dashed {
	border-style: dashed;
}

.example.solid {
	border: 3px solid #333;
}

.example.red-border {
	border-color: red;
}

.example.purple-border {
	border-color: purple;
}

.button {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}