
h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bold {
	font-weight: bold;
}

.line {
	border-bottom: 1px solid #ddd;
}

.example {
	width: 240px;
	border: 1px solid #333;
	padding: 20px;
	text-align: center;
}

.example.active {
	background-color: yellow;
}

.frame {
	height: 100px;
	display: inline-block;
	cursor: pointer;
}

.about-section {
	position:relative;
	margin-top: 30px;
	width: 400px;
}

.fade-in {
	opacity: 0;
}

.fade-in.active {
	opacity: 1;
}

.about {
	position: absolute;
}

.valign {
	display: inline-block;
	vertical-align: middle;
}

img {
	border: 4px double #aca;
	vertical-align: top;
	height: 100px;
	border-radius: 2px;
}

.frame-section.active > .frame > img {
	opacity: .3;
}

.frame-section.active > .frame.active > img {
	border-style: none;
	opacity: 1;
	border-style: solid;
}

.transition {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.transition.fast {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}